<!doctype html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    {% feed_meta %}
  </head>
  <body>
    <header class="header">
      <h1 class="brand">
        <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      </h1>
    </header>
    <main class="content">{{ content }}</main>
    <footer class="footer">
      <p class="copyright">
        &copy; {{ site.time | date: '%Y' }}
        {{ site.title }}. All rights reserved.
      </p>
      <p class="description">{{ site.description }}</p>
    </footer>
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
  </body>
</html>
